@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Font */
:root {
  --color-addbtn: #ff6602;
  --color-slide: #f3eee1;
  --color-font: #dfdfdf;
  --color-font: #000;
  --color-btnFont: #fff;
}

/* Common */
body {
  font: 16px/1 "Bangers";
  width: 100%;
  height: 100vh;
  position: relative;
}
body.camcoder {
  overflow: hidden;
}
body.version2, body.all {
  overflow: scroll;
}

/* Header */
header {
  position: fixed;
  z-index: 4;
  background-color: #fff;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo a.name {
  color: black;
  font-size: 40px;
}
header .logo a.icon {
  margin-left: 8px;
  font-size: 30px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin: 0px 16px;
  cursor: pointer;
}
header nav ul li a {
  color: black;
}

/* Product */
.product {
  width: 100%;
  height: 600px;
  top: 25vh;
  position: relative;
  overflow: hidden;
  transition: height 0.4s;
}
.product h2 {
  position: absolute;
  top: 8vh;
  margin-left: 40px;
  font: bold 24px/1 "airal";
}
.product .swiper {
  cursor: pointer;
  overflow: visible;
  width: 20vw;
  height: 70vh;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product .swiper .swiper-wrapper .swiper-slide {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 0.4s;
}
.product .swiper .swiper-wrapper .swiper-slide:hover {
  background-color: var(--color-slide);
  box-shadow: 5px 5px 10px rgba(243, 238, 225, 0.8);
}
.product .swiper .swiper-wrapper .swiper-slide:hover .name,
.product .swiper .swiper-wrapper .swiper-slide:hover .add-cart {
  opacity: 1;
}
.product .swiper .swiper-wrapper .swiper-slide:hover img {
  transform: scale(1.3);
}
.product .swiper .swiper-wrapper .swiper-slide .name {
  display: block;
  margin: 20px 0 10px 20px;
  text-align: left;
  font-size: 18px;
  letter-spacing: 2px;
  color: var(--color-font);
  opacity: 0;
  transition: 0.4s;
}
.product .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  transition: 0.4s;
}
.product .swiper .swiper-wrapper .swiper-slide .add-cart {
  transition: 0.4s;
  opacity: 0;
  margin: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0px;
}
.product .swiper .swiper-wrapper .swiper-slide .add-cart .price {
  color: var(--color-font);
}
.product .swiper .swiper-wrapper .swiper-slide .add-cart .price span {
  font-size: 16px;
  opacity: 0.6;
}
.product .swiper .swiper-wrapper .swiper-slide .add-cart .price strong {
  font-size: 32px;
  opacity: 1;
}
.product .swiper .swiper-wrapper .swiper-slide .add-cart a {
  width: 40px;
  height: 40px;
  background-color: var(--color-addbtn);
  border-radius: 5px;
  font-size: 20px;
  line-height: 40px;
  color: var(--color-btnFont);
  box-shadow: 5px 5px 10px rgba(255, 102, 2, 0.2);
}

.all-products {
  padding-top: 80px;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
}
.all-products .title {
  margin: 40px;
  font: bold 28px/1 "arial";
}
.all-products .container {
  width: 100%;
  height: 100%;
}
.all-products .container .items {
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.all-products .container .items .item {
  margin: 30px;
}
.all-products .container .items .item .img {
  width: 15vw;
  height: 15vw;
}
.all-products .container .items .item .img img {
  width: 100%;
  transition: 0.4s;
}
.all-products .container .items .item .img img:hover {
  transform: scale(1.2);
}
.all-products .container .items .item .info .name {
  font: bold 20px/1 "arial";
  margin-bottom: 8px;
}
.all-products .container .items .item .info .name:hover {
  text-decoration: underline;
}
.all-products .container .items .item .info .price {
  font: normal 18px/1 "arial";
}

.details_page {
  overflow: scroll;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}
.details_page .expand {
  width: 40%;
  height: 100%;
  background-color: var(--color-slide);
  position: relative;
}
.details_page .expand .name {
  display: block;
  margin: 20px;
  font-size: 30px;
  letter-spacing: 1px;
  transition: 0.4s;
}
.details_page .expand img {
  width: 38vw;
}
.details_page .expand .add-cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.details_page .expand .add-cart .price span {
  font-size: 22px;
}
.details_page .expand .add-cart .price strong {
  font-size: 32px;
}
.details_page .expand .add-cart a {
  cursor: pointer;
  width: 120px;
  height: 40px;
  background-color: var(--color-addbtn);
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  box-shadow: 5px 5px 10px rgba(255, 102, 2, 0.2);
}
.details_page .details {
  width: 60%;
  height: 100%;
  background-color: #ff6602;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details_page .details div {
  width: 200px;
  height: 200px;
  margin: 50px;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
