@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "MICEGothic Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
:root {
  /* color */
  --color-deep-black: #111;
  --color-black: #3f454d;
  --color-white: #fff;
  --color-blue: #a6d1e6;
  --color-yellow: #ffc54d;
  --color-pink: #ff869e;
  --color-grey: rgb(149, 146, 146);
  --color-light-grey: #dfdfdf;
  --color-dd: #f3eee1;
  --color-orange: #ff6602;
}

body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

/* Header */
header {
  font: normal 16px/1 "Racing Sans One";
}
header.on {
  display: none;
}
header .main_header {
  margin: 0;
  z-index: 4;
  width: 97%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  transition: 1.4s;
}
header .main_header .logo {
  display: flex;
  align-items: center;
}
header .main_header .logo a.name {
  color: black;
  font-size: 40px;
}
header .main_header .logo a.icon {
  margin-left: 8px;
  font-size: 30px;
}
header .main_header nav ul {
  display: flex;
}
header .main_header nav ul li {
  margin: 0px 16px;
  cursor: pointer;
}
header .main_header nav ul li a {
  color: black;
}

.mainbox {
  width: 85%;
  height: 30vh;
  background-color: var(--color-orange);
  margin: auto;
  position: relative;
  top: 6vh;
  border-radius: 9px;
}

.titles {
  position: absolute;
  display: flex;
  top: 37vh;
  left: 10%;
}
.titles .title {
  z-index: 2;
  font: 70px/1 "Racing Sans One";
  margin-left: 60px;
}
.titles .sub_title {
  font: 20px/1 "arial";
  color: var(--color-grey);
  position: absolute;
  top: 25vh;
  left: 5vw;
}
.titles i {
  font: 80px/1 "Racing Sans One";
  margin-left: 70px;
}
.titles img {
  position: absolute;
  top: -15vh;
  left: 50vw;
  width: 60%;
}

/*기획의도*/
article.intention {
  position: relative;
  top: 40vh;
  left: 10vw;
  display: flex;
}
article.intention div img {
  position: absolute;
  top: 7vh;
  width: 35%;
  border-radius: 10px;
  z-index: 2;
}
article.intention div .about_title {
  position: absolute;
  top: 8vh;
  margin-left: 40vw;
  font: 50px/1 "Racing Sans One";
  z-index: 2;
}
article.intention div .about_content {
  position: absolute;
  top: 12vh;
  right: 18vw;
  width: 60vw;
  height: 40vh;
  background-color: #e9dcd4;
  border-radius: 3px;
}
article.intention div .about_content span {
  position: absolute;
  font: 17px/1 "MICEGothic Bold";
  letter-spacing: 0.5px;
  margin-left: 15vw;
  z-index: 2;
}
article.intention div .about_content span:nth-of-type(1) {
  top: 8vh;
}
article.intention div .about_content span:nth-of-type(2) {
  top: 20vh;
  font: 14px/1.2 "arial";
}
article.intention div .about_content span:nth-of-type(3) {
  top: 30vh;
  font: 14px/1.2 "arial";
}

/*인식한 문제*/
article.problem {
  position: relative;
  font: 140px/1 "MICEGothic Bold";
}
article.problem .collabo_content div:not(:nth-of-type(4)) {
  width: 35%;
  height: 75%;
  left: 10vw;
  background-color: #e9dcd4;
  border-radius: 5px;
}
article.problem .collabo_content div:not(:nth-of-type(4)) .collabo_content_title {
  font: 700 22px/1 "MICEGothic Bold";
  position: absolute;
  top: 3vh;
  left: 3vh;
}
article.problem .collabo_content div:not(:nth-of-type(4)) .collabo_content_text {
  font: 15px/1.2 "arial";
  position: absolute;
  top: 15vh;
  left: 5vh;
}
article.problem .collabo_content div:nth-of-type(1) {
  position: absolute;
  top: 110vh;
}
article.problem .collabo_content div:nth-of-type(1) img {
  position: absolute;
  top: -4vh;
  right: -4vw;
  width: 60%;
}
article.problem .collabo_content div:nth-of-type(2) {
  position: absolute;
  top: 150vh;
}
article.problem .collabo_content div:nth-of-type(2) img {
  position: absolute;
  top: -2vh;
  right: -0.5vw;
  width: 45%;
}
article.problem .collabo_content div:nth-of-type(3) {
  position: absolute;
  top: 190vh;
}
article.problem .collabo_content div:nth-of-type(3) img {
  position: absolute;
  top: -3vh;
  right: -5vw;
  width: 70%;
}
article.problem .collabo_content div:nth-of-type(3) span {
  position: absolute;
  top: 2vh;
  font: 10px/1 "arial";
}
article.problem .collabo_content div:nth-of-type(4) {
  position: absolute;
  top: 180vh;
  right: 10vw;
  width: 20%;
  height: 70%;
  background-color: var(--color-orange);
  border-radius: 50% 50% 0 50%;
}
article.problem .collabo_content div:nth-of-type(4) img {
  width: 95%;
}
article.problem .collabo_titile {
  font: 140px/1 "Racing Sans One";
}
article.problem .collabo_titile span:nth-of-type(1) {
  position: absolute;
  top: 127vh;
  right: 23vw;
}
article.problem .collabo_titile span:nth-of-type(2) {
  position: absolute;
  top: 155vh;
  right: 10vw;
}
article.problem .collabo_titile span:nth-of-type(3) {
  position: absolute;
  top: 185vh;
  right: 27vw;
}

/* WRAP */
.ourteam {
  display: flex;
  justify-content: left;
  position: relative;
}
.ourteam .whoweare {
  position: absolute;
  top: 195vh;
  width: 45%;
  right: 11vw;
  padding: 20px;
  background-color: #ff6602;
  text-align: right;
  border-radius: 5px;
  font: bold 50px/1 "Racing Sans One";
}
.ourteam section.wrap {
  position: relative;
  top: 215vh;
  left: 10vw;
  margin-left: 12px;
  width: 370px;
  padding: 30px 0;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
.ourteam section.wrap article.profile {
  width: 100%;
  text-align: center;
  margin-top: 10;
}
.ourteam section.wrap article.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.ourteam section.wrap article.profile h1 {
  font: bold 40px/1 "Racing Sans One";
  color: #000;
  margin: 20px 0px 10px 0px;
}
.ourteam section.wrap article.profile p {
  font: bold 20px/1 "Racing Sans One";
  color: #999;
  margin-bottom: 20px;
}
.ourteam section.wrap .part {
  height: 245px;
}
.ourteam section.wrap .part span {
  display: block;
  width: 180px;
  height: 32px;
  margin: 0px auto 20px;
  color: #fff;
  background-color: #333;
  font: bold 20px/1.3 "Racing Sans One";
  border-radius: 16px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
}
.ourteam section.wrap .part li {
  text-align: center;
  font: 16px/1 "MICEGothic Bold";
  padding: 10px;
  margin-bottom: 10px;
}
.ourteam section.wrap .stacks {
  padding: 15px 0;
}
.ourteam section.wrap .stacks .stack_title {
  display: block;
  width: 180px;
  height: 32px;
  margin: 0px auto 20px;
  color: #fff;
  background-color: #333;
  font: bold 20px/1.3 "Racing Sans One";
  border-radius: 16px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
}
.ourteam section.wrap .stacks .stack {
  font: 16px/3 "MICEGothic Bold";
}
.ourteam section.wrap .stacks .stack:not(:last-child)::after {
  content: "|";
  margin: 0 15px;
}
.ourteam section.wrap .contact {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  font: 20px/1 "arial";
}
.ourteam section.wrap .contact a {
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  transition: 1s;
}
.ourteam section.wrap .contact a:hover {
  transform: scale(1.2);
}

/*footer*/
footer {
  position: absolute;
  top: 425vh;
  width: 100%;
  padding: 4vh 0 1vh 0;
  margin-top: 6vh;
  background-color: #333;
  color: #fff;
}
footer .inner .agreement {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
footer .inner .agreement li {
  font: 10px/1 "arial";
  justify-content: center;
  padding: 10px;
}
footer .inner .agreement li:last-child {
  margin-right: none;
}
footer .inner .agreement li:not(:nth-child(1))::before {
  content: "|";
  color: #c8c8c8;
  margin-right: 10px;
}
footer .inner .agreement li a {
  color: #c8c8c8;
}
footer .inner .agreement li a:hover {
  text-decoration: underline;
}
footer .inner .btns {
  display: flex;
  margin-top: 1.5vh;
  justify-content: center;
}
footer .inner .btns li {
  font: 10px/1 "arial";
}
footer .inner .btns li a {
  text-align: center;
  display: block;
  width: 100px;
  color: #fff;
  padding: 0.7vh;
  border: 1px solid #fff;
  border-radius: 3px;
  margin-left: 30px;
  transition: 1s;
}
footer .inner .btns li a:hover {
  background-color: #fff;
  color: #333;
  text-decoration: underline;
}
footer .inner .company_contents {
  display: flex;
  font: 10px/1 "arial";
  padding: 3vh 0 0 0;
  justify-content: center;
  color: #c8c8c8;
}
footer .inner .company_contents li {
  margin-left: 20px;
}
footer .inner .company_contents li:last-child {
  margin-left: none;
}
footer .inner p {
  padding: 2vh 0;
  font: 10px/1 "arial";
  margin-left: 10px;
  text-align: center;
  color: #c8c8c8;
}

/*# sourceMappingURL=about.css.map */
