*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100%;
<<<<<<< HEAD
    height: 3000px;
    background-color: skyblue;
}

section{
    position: absolute;
    top: 40%;
    width: 100%;
    height: 900px;
    
}
section video{
    position: absolute;
    width: 100%;
    height: 900px;
    object-fit: fill;
}

section h1{
    position:absolute;
    font-size: 180px;
    color: white;
    top: 0%;
    left:0%;
}
=======
    height: 720px;
}

video{
    position: absolute;
    width: 100%;
    height: 720px;
    object-fit: fill;
}
>>>>>>> f7f5b39672d2660c1fe18c805d654cc0ef7bfe4a
section a img{
    position: absolute;
    width: 200px;
    height: 200px;
}
section a .img1{
    position: absolute;
<<<<<<< HEAD
    z-index: 1;
    left: 70%;
    top: 10%;
=======
    left: 70%;
    top: 30%;
>>>>>>> f7f5b39672d2660c1fe18c805d654cc0ef7bfe4a
    opacity: 0;
    transition: 2.5s;
}
section a .img2{
    position: absolute;
<<<<<<< HEAD
    z-index: 1;
    opacity: 0;
    left: 20%;
    top: 10%;
    transition: 2.5s;
}
/* .title1{
    transform: translate(-2000px,0px);
    transition: 1s;
}
.title2{
    transform: translate(2000px,0px);
    transition: 1s;
}
.title3{
    transform: translate(-2000px,0px);
    transition: 1s;
} */

=======
    opacity: 0;
    left: 20%;
    top: 30%;
    transition: 2.5s;
}
>>>>>>> f7f5b39672d2660c1fe18c805d654cc0ef7bfe4a
