// /* Section */
// .all-products {
//   width: 100%;
//   height: 100%;
//   position: relative;

//   div {
//     position: absolute;
//     margin: 40px;
//     font: 20px/1 "airal";
//   }

//   .inner {
//     width: 90%;
//     height: 100%;
//     margin: 0 auto;
//     position: relative;

//     .items {
//       width: 90%;
//       margin: 0 auto;
//       height: 100%;
//       display: flex;
//       flex-wrap: wrap;
//       justify-content: center;

//       .item {
//         width: 20vw;
//         height: 20vw;
//         margin: 20px;
//         position: relative;

//         .img {
//           width: 20vw;
//           // height: 15vw;
//           img {
//             width: 100%;
//             margin-bottom: 4px;
//           }
//         }

//         .info {
//           display: flex;
//           justify-content: space-between;
//           padding: 2px;
//           font: 14px/1 "airal";
//           position: absolute;
//           bottom: 0%;
//         }
//       }
//     }
//   }
// }

// section
.all-products {
  margin-top: 30px;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  position: relative;

  .title {
    margin: 40px;
    font: bold 28px/1 "arial";
  }
  .container {
    width: 100%;
    height: 100%;
    .items {
      margin: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      position: relative;

      .item {
        margin: 30px;
        .img {
          width: 15vw;
          height: 15vw;
          // border: 1px solid #000;
          img {
            width: 100%;
            transition: 0.4s;

            &:hover {
              transform: scale(1.3);
            }
          }
          img.general {
            margin: 20px;
            width: 70%;
          }
        }
        .info {
          .name {
            font: bold 20px/1 "arial";
            margin-bottom: 8px;

            &:hover {
              text-decoration: underline;
            }
          }
          .price {
            font: normal 18px/1 "arial";
          }
        }
      }
    }
  }
}
