@import "reset";
body {
  width: 100vw;
  height: 100vh;
  transition: 0.8s;
}

.main {
  &::before {
    content: "";
    background: url("../video/color.jpg");
    background-size: cover;
    opacity: 0.8;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  margin: 0 auto;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;

  div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      // opacity: 0;
      width: 100%;
      position: relative;
      transition: 0.8s;

      &:hover {
        cursor: pointer;
        transform: scale(1.8);
      }
    }

    // &.item1 {
    //   &::before {
    //     content: "";
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0px;
    //     left: 0px;
    //     overflow: hidden;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     background-image: url(../img/camcoder15.png);
    //     // filter
    //     filter: blur(30px) brightness(130%);
    //     transform: translate(0, 3%);
    //   }
    // }
    // &.item2 {
    //   &::before {
    //     content: "";
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0px;
    //     left: 0px;
    //     overflow: hidden;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     background-image: url(../img/camcoder14.png);
    //     // filter
    //     filter: blur(30px) brightness(130%);
    //     transform: translate(0, 3%);
    //   }
    // }
    // &.item3 {
    //   &::before {
    //     content: "";
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0px;
    //     left: 0px;
    //     overflow: hidden;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     background-image: url(../img/camcoder11.png);
    //     // filter
    //     filter: blur(30px) brightness(130%);
    //     transform: translate(0, 3%);
    //   }
    // }
    // &.item4 {
    //   &::before {
    //     content: "";
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0px;
    //     left: 0px;
    //     overflow: hidden;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     background-image: url(../img/camcoder5.png);
    //     // filter
    //     filter: blur(30px) brightness(130%);
    //     transform: translate(0, 3%);
    //   }
    // }
    // &.item5 {
    //   &::before {
    //     content: "";
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0px;
    //     left: 0px;
    //     overflow: hidden;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     background-image: url(../img/camcoder13.png);
    //     // filter
    //     filter: blur(30px) brightness(130%);
    //     transform: translate(0, 3%);
    //   }
    // }
    // &.item6 {
    //   &::before {
    //     content: "";
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0px;
    //     left: 0px;
    //     overflow: hidden;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     background-image: url(../img/camcoder8.png);
    //     // filter
    //     filter: blur(30px) brightness(130%);
    //     transform: translate(0, 0);
    //   }
    // }

    span {
      margin-top: 20px;
      color: #dfdfdf;
      font-weight: bold;
      opacity: 0;
      transition: 1s;

      &.on {
        opacity: 1;
      }
    }
  }
}
